@import "../../scss/config/variables";

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 auto;
}

#not-found {
  padding: 60px 0;
}

h1 {
  font-size: 7rem;
  line-height: 1;
  margin-bottom: 10px;

  @media (min-width: map_get($grid-breakpoints, md)) {
    font-size: 12rem;
  }
}

p {
  font-size: 1rem;
  margin-bottom: 25px;

  @media (min-width: map_get($grid-breakpoints, md)) {
    font-size: 1.25rem;
  }
}
